:root {
  --clr-foreground: hsl(0, 0%, 0%);
  --clr-background: hsl(0, 0%, 100%);
}

/* https://stackoverflow.com/questions/57606960/how-can-i-emulate-prefers-color-scheme-media-query-in-chrome */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: hsl(0, 0%, 0%);
    --clr-foreground: hsl(0, 0%, 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-background);
  color: var(--clr-foreground);

  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: 0.8;
  padding: 4rem;
  border-radius: 50%;
}
/* it's the same with and without svg here */
#theme-toggle svg {
  fill: var(--clr-foreground);
}
#theme-toggle:hover,
#theme-toggle:focus {
  opacity: 1; /* make it darker */
  background: hsla(0, 0%, 50%, 0.15);
}
.toggle-circle {
  transform: translateX(-15%);
}
